<footer class="footer">
    <section class="footer-wrapper">
        <div class="footer-container">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h5 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>Build a Bot
                </h5>
                <p>
                    Irim ipsum dolor sit amet, consectetur adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae.
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-2">
                <h5 class="text-uppercase fw-bold mb-4">Contact</h5>
            </div>
        </div>
    </section>
    <div class="footer-copyright">
    &copy; 2025 Copyright:
    <a class="text-reset fw-medium" href="http://buildabot.dk">Buildabot.dk&trade;</a>
    </div>
</footer>