<footer class="footer">
    <section class="footer-wrapper">
        <div class="footer-container">
            <div class="footer-brand">
                <p class="footer-brand-header">
                    <i class="fas fa-gem me-3"></i>Build a Bot
                </p>
                <p>
                    Build a Bot is a user-friendly website that simplifies the creation of custom Discord bots.
                    It allows users to combine and download scripts, making it easier to develop personalized bots
                    without requiring extensive coding knowledge.
                </p>
            </div>
            <div class="footer-contact">
                <p class="footer-contact-header">Contact</p>
                <div class="footer-contact-item">
                    <strong class="bi bi-envelope">
                        Email:
                    </strong> 
                    <a href="mailto:info&#64;buildabot.dk"> 
                        info&#64;buildabot.dk

                    </a>
                </div>
                <div class="footer-contact-item">
                    <strong class="bi bi-phone">
                        Phone:
                    </strong>
                    <a href="tel:+4512345678"> 
                        +45 1234 5678
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-copyright">
        &copy; 2025 Copyright:
        <a class="text-reset fw-medium" href="http://buildabot.dk">Buildabot.dk&trade;</a>
    </div>
</footer>
