*pycache
*.env
*.vscode
*.idea
*.editorconfig
*.cache
Backend/.vs/Backend/FileContentIndex/
Backend/.vs/
Backend/BuildAbot/obj/
Backend/BuildAbot/bin/
Backend/BuildAbot/Migrations/
Backend/BuildAbot/bin/Debug/net8.0/
Backend/BuildAbot/appsettings.*
