<div class="bab-container">
    <div class="small-hero" id="hero">
        <div class="hero-content" id="hero-content">
            <div class="hero-content-left" id="hero-content-left">
                <nav class="breadcrumbs" aria-label="breadcrumb">
                    <ul>
                      <li><a [routerLink]="['/']" class="bi bi-house-fill"></a></li>
                      <li class="active">Bot Compiler</li>
                    </ul>
                </nav>
                <div class="hero-content-left-header" id="hero-content-left-header">
                    <h1>Build a Bot</h1>
                    <p>Build your own bot with our easy-to-use platform.</p>
                </div>
            </div>
            <div class="small-hero-content-right" id="hero-content-right">
                <img src="../../../assets/images/Build-a-bot.svg" alt="Hero Image" class="hero-image" width="350px" height="350px">
            </div>
        </div>
        <div class="vector-pattern" id="vector-pattern">
            <svg viewBox="0 0 1000 200" preserveAspectRatio="none">
                <defs>
                    <linearGradient id="myGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#19175c" />
                      <stop offset="80%" stop-color="#1F1F1F" />
                    </linearGradient>
                </defs>
                <path fill="url(#myGradient)"
                      d="M-1 31Q35 15 91 55 129 81 192 47 251 6 307 49 359 93 427 51 485 7 540 50 609 99 682 60 753 7 823 60 870 94 929 60 979 24 1013 57L1015 222-1 224Z" />
            </svg>
            <!--- Fantastic site for making these lines https://yqnn.github.io/svg-path-editor/ -->
        </div>
    </div>
    <div class="bot-compiler-header">
        <h2>Bot Compiler</h2>
        <p>Compile your bot with the scripts you have chosen.</p>
    </div>
    <app-bot-builder></app-bot-builder>
  </div>
  