<div class="snack-container">
  <div *ngIf="data.snackType === 'success'">
    <mat-icon class="snack-icon success-icon">check_circle</mat-icon>
  </div>
  <div *ngIf="data.snackType === 'error'">
    <mat-icon class="snack-icon error-icon">error</mat-icon>
  </div>
  <div *ngIf="data.snackType === 'warning'">
    <mat-icon class="snack-icon warning-icon">warning</mat-icon>
  </div>
  <div *ngIf="data.snackType === 'info'">
    <mat-icon class="snack-icon info-icon">info</mat-icon>
  </div>

  <div>
    <span class="snack-message">{{ data.message }}</span>
  </div>
</div>