@use '../../../../../styles/colors' as *;
@use '../../../../../styles/media'  as *;

.script-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: $DARK;
  align-items: center;
}

.truncate {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncate:hover {
  background: lighten($DARK, 10%);
}

.file-field {
  @include mobile {
    width: 230px;
  }
}

.script-writing-btn {
  background-color: $BLURPLE;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: darken($BLURPLE, 5%);
  }
}

.monaco-body, .monaco-editor-body  {
  height: calc(50vh - 100px);
  transition: height 0.3s ease;
}

@media (max-width: 767.98px) {
  .monaco-card-body {
    height: calc(50vh - 50px);
  }

  .expanded-editor .monaco-card-body {
    height: calc(50vh - 80px);
  }
}
