<div class="bot-builder-section">
    <div class="bot-filter-container">
        <div class="script-filter-container">
            <div class="script-filter">
                <input
                  type="text"
                  placeholder="Search Scripts"
                  [(ngModel)]="searchTerm"
                  (input)="filterScripts()"
                  class="script-search-input"
                />
                <button class="bi bi-gear script-filter-btn"></button>
            </div>
            <div class="script-card-list">
                <div
                  *ngFor="let script of filteredScripts"
                  class="script-card"
                  (click)="addToChosenScripts(script)"
                >
                  {{ script.title }}
                </div>
            </div>
        </div>
        <div class="bot-compiler-section">
            <div class="bot-compiler-chosen-scripts">
                <div class="bot-compiler-chosen-scripts-header" id="bot-compiler-chosen-scripts-header">
                    <h3>Chosen Scripts</h3>
                    <p>These are the scripts you have chosen to compile.</p>
                </div>
                <div class="chosen-script-card-container">
                    <div *ngFor="let script of chosenScripts" class="chosen-script-card">
                        <div class="chosen-script-card-header">
                            <div class="chosen-script-remove-btn">
                                <button (click)="removeFromChosenScripts(script)" class="remove-script-btn bi bi-trash-fill"></button>
                            </div>
                            <div class="chosen-script-card-header-title">
                                <h4 class="chosen-script-card-title">{{ script.title }}</h4>
                            </div>
                        </div>
                        <div class="chosen-script-card-content">
                            <p class="chosen-script-card-description">{{ script.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="download-script-section">
        <button 
        class="download-script-button"
        [disabled]="chosenScripts.length === 0"
        (click)="downloadBot()">
            <p>
                Download Bot
            </p>
        </button>
    </div>
    <div *ngIf="isFilterOpen" class="mobile-script-filter-modal">
        <div class="script-filter-container">
            <div class="script-filter">
                <input
                  type="text"
                  placeholder="Search Scripts"
                  [(ngModel)]="searchTerm"
                  (input)="filterScripts()"
                  class="script-search-input"
                />
                <button class="bi bi-gear script-filter-btn"></button>
            </div>
            <div class="script-card-list">
                <div
                  *ngFor="let script of filteredScripts"
                  class="script-card"
                  (click)="addToChosenScripts(script)"
                >
                  {{ script.title }}
                </div>
            </div>
        </div>
        <button class="close-modal-btn" (click)="handleBotFilterClick()">Close</button>
    </div>
    <button class="filter-toggle-button" (click)="handleBotFilterClick()">
        <i class="bi bi-funnel"></i>
    </button>
</div>