@use '../../../../../styles/colors' as *;
@use '../../../../../styles/media'  as *;

.user-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: $DARK;
  align-items: center;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
