@use '../../../../styles/colors' as *;
@use '../../../../styles/media'  as *;

.user-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: $DARK;
  align-items: center;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.form-header {
  display: flex;
}

.card h1 {
  width: 100%;
}

.delete-btn {
  background-color: $RED !important;
  color: $WHITE !important;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  height: fit-content;
  margin: auto;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background-color: darken($color: $RED, $amount: 10) !important;
  }
}
