<div class="bab-container">
    <div class="hero">
        <div class="hero-content">
            <div class="hero-content-left">
                <nav class="breadcrumbs" aria-label="breadcrumb">
                    <ul>
                      <li><a [routerLink]="['/']" class="bi bi-house-fill"></a></li>
                      <li>Libraries</li>
                      <li class="active">Script Library</li>
                    </ul>
                  </nav>
                <div class="hero-content-left-header">
                    <h1>Build a Bot</h1>
                    <p>Build your own bot with our easy-to-use platform.</p>
                </div>
            </div>
            <div class="small-hero-content-right">
                <img src="../../../assets/images/Build-a-bot.svg" alt="Hero Image" class="hero-image" width="500px" height="500px">
            </div>
        </div>
        <div class="vector-pattern">
            <svg viewBox="0 0 1000 200" preserveAspectRatio="none">
                <defs>
                    <linearGradient id="myGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" stop-color="#19175c" />
                    <stop offset="80%" stop-color="#1F1F1F" />
                    </linearGradient>
                </defs>
                <path fill="url(#myGradient)"
                    d="M-1 31Q35 15 91 55 129 81 192 47 251 6 307 49 359 93 427 51 485 7 540 50 609 99 682 60 753 7 823 60 870 94 929 60 979 24 1013 57L1015 222-1 224Z" />
            </svg>
            <!--- Fantastic site for making these lines https://yqnn.github.io/svg-path-editor/ -->
        </div>
    </div>
    <div>
        <!-- Possible showcase of most liked, most viewed and most downloaded bots-->
    </div>
    <div class="script-section">
        <div class="script-wrapper">
            <div class="script-header">
                <h2>Script Library</h2>
                <p>Explore our library of scripts to enhance your bot's functionality.</p>
            </div>
            <div class="script-showcase">
                <div class="script-card" *ngFor="let script of scripts" [class.active]="scriptStates[script.id].expanded">
                    <!-- Card Header -->
                    <div class="card-header">
                        <h3 class="card-title">{{ script.title }}</h3>
                        <span class="card-user">Made by {{ script.user.userName }}</span>
                    </div>
                    <div class="card-content">
                        <p class="card-description">{{ script.description }}</p>
                    </div>
                    <button (click)="toggleExpanded(script.id)" class="show-more-btn">
                        {{ scriptStates[script.id].expanded ? 'Show less' : 'Show more' }}
                    </button>
                    <div *ngIf="scriptStates[script.id]?.expanded" class="card-details">
                    <div class="tabs">
                        <button 
                            class="tab-button" 
                            [class.active]="scriptStates[script.id].activeTab === 'about'" 
                            (click)="setActiveTab(script.id, 'about')">
                            Guide
                        </button>
                        <button 
                            class="tab-button" 
                            [class.active]="scriptStates[script.id].activeTab === 'source'" 
                            (click)="setActiveTab(script.id, 'source')">
                            Source Code
                        </button>
                    </div>
                    <div class="tab-content">
                        <div *ngIf="scriptStates[script.id]?.activeTab === 'about'">
                            <p>{{ script.guideLocationId }}</p>
                        </div>
                        <div *ngIf="scriptStates[script.id]?.activeTab === 'source'">
                            <p>Code ID: {{ script.codeLocationId }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>