<nav class="navbar">
  <div class="logo">
    <a href="#">
      <img src="../../../assets/images/Build-a-bot-wide.svg" alt="Build-a-Bot Logo">
    </a>
  </div>
  <button type="button" class="mobile-menu-button" aria-label="Burger menu button" (click)="toggleMobileMenu()">
    <i class="bi bi-list"></i>
  </button>
  <ul class="nav-links" [class.mobile-active]="isMobileMenuActive">
    <li>
      <a href="#" class="bi bi-house"> Home</a>
    </li>
    <li class="dropdown" [class.active]="isDropdownOpen" (click)="toggleDropdown($event)">
      <span class="bi bi-book dropbtn"> Libraries</span>
      <ul class="dropdown-content">
        <li>
          <a href="/script-library"> Script Library</a>
        </li>
        <li>
          <a href="/bot-library"> Bot Library</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/bot-compiler" class="bi bi-robot"> Bot Compiler</a>
    </li>
  </ul>
  <div class="login-signup">
    <button [routerLink]="['/login']" class="login">Login</button>
    <button [routerLink]="['/signup']" class="signup">Sign Up</button>
  </div>
</nav>

<nav class="side-nav" id="sideNav">
  <ul class="nav-links">
    <li>
      <a href="#" class="bi bi-house"></a>
    </li>
    <li class="dropdown" [class.active]="isSideDropdownOpen" (click)="toggleSideDropdown($event)">
      <span class="bi bi-book dropbtn dropbtn-side-nav"></span>
      <ul class="dropdown-content">
        <li>
          <a href="/script-library">Script Library</a>
        </li>
        <li>
          <a href="/bot-library">Bot Library</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/bot-compiler" class="bi bi-robot"></a>
    </li>
  </ul>
</nav>
