@use './styles/fonts.scss' as *;

body {
    font-family: 'Discord Regular';
    margin: 0;
}

h1 {
    font-family: "Discord Nord";
    font-size: 48px;
    line-height: 90%;
}

h2 {
    font-family: "Discord Nord";
    font-size: 36px;
    line-height: 90%;
}

h3 {
    font-family: "Discord Nord";
    font-size: 26px;
    line-height: 90%;
}

h4 {
    font-family: "Discord Nord";
    font-size: 20px;
    line-height: 90%;
}