<div class="post-section">
  <div class="form-section card">
    <h1>Post Dashboard</h1>
    <form #f="ngForm"
          (ngSubmit)="onSubmit()"
          class="admin-creator-form"
          novalidate>
      <input
        type="hidden"
        [(ngModel)]="post.id"
        name="id"
      />
      <div class="field">
        <label for="title">Title</label>
        <input
          id="title"
          type="title"
          placeholder="title"
          required
          title
          [(ngModel)]="post.title"
          name="title"
          #titleModel="ngModel"
        />
        <div class="error-message" *ngIf="titleModel.invalid && titleModel.touched">
          <small *ngIf="titleModel.errors?.['required']">Title is required.</small>
        </div>
      </div>

      <div class="field">
        <label for="userId">Owner</label>
        <select
          id="userId"
          required
          [(ngModel)]="post.user.id"
          name="userId"
        >
          <option [ngValue]="''" disabled>— select user —</option>
          <option *ngFor="let u of users" [ngValue]="u.id">
            {{ u.userName }}
          </option>
        </select>
      </div>

      <div class="field">
        <label for="content">Content</label>
        <input
          id="content"
          type="content"
          required
          [(ngModel)]="post.content"
          name="content"
          #contentModel="ngModel"
        />
        <div class="error-message" *ngIf="contentModel.invalid && contentModel.touched">
          <small>Content is required.</small>
        </div>
      </div>
      <div class="actions">
        <button type="submit" [disabled]="f.invalid">
          {{ post.id ? 'Update Post' : 'Create Post' }}
        </button>
        <button
          *ngIf="f.dirty"
          type="button"
          (click)="cancelEdit()"
          class="cancel-btn"
        >Cancel</button>
      </div>
    </form>
  </div>
  <div class="items-table card">
    <table class="item-table">
      <thead>
        <tr>
          <th class="sorting" (click)="sortBy('id')">
            ID <span *ngIf="sortField==='id'">{{ sortDir==='asc' ? '▲':'▼' }}</span>
          </th>
          <th class="sorting" (click)="sortBy('title')">
            Title <span *ngIf="sortField==='title'">{{ sortDir==='asc' ? '▲':'▼' }}</span>
          </th>
          <th class="sorting" (click)="sortBy('text')">
            Content <span *ngIf="sortField==='text'">{{ sortDir==='asc' ? '▲':'▼' }}</span>
          </th>
          <th class="sorting" (click)="sortBy('userName')">
            Username <span *ngIf="sortField==='userName'">{{ sortDir==='asc' ? '▲':'▼' }}</span>
          </th>
          <th class="sorting" (click)="sortBy('createdAt')">
            Created At <span *ngIf="sortField==='createdAt'">{{ sortDir==='asc' ? '▲':'▼' }}</span>
          </th>
          <th class="sorting" (click)="sortBy('commentsCount')">
            Comments <span *ngIf="sortField==='commentsCount'">{{ sortDir==='asc' ? '▲':'▼' }}</span>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of posts">
          <td>{{ p.id }}</td>
          <td>{{ p.title}}</td>
          <td>{{ p.content }}</td>
          <td>{{ p.user.userName }}</td>
          <td>{{ p.createdAt | date:'short' }}</td>
          <td>{{ getTotalComments(p.comments) }}</td>
          <td class="table-actions">
            <button class="edit-btn" (click)="editPost(p)">Edit</button>
            <button class="delete-btn" (click)="deletePost(p.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
