@use "../../../styles/colors.scss" as *;
@use "../../../styles/media.scss" as *;

.bot-section {
  display: flex;
  padding: 20px;
  background: $DARK;
  justify-content: center;
}
.bot-wrapper {
  width: 100%;
  max-width: 1200px;
}
.bot-header {
  text-align: center;
  margin-bottom: 20px;
  color: $LIGHT_BLURPLE;
}
.bot-showcase {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-items: start;

  @include mobileAndTabletV {
      grid-template-columns: 1fr;
      gap: 24px;
  }
}
.bot-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px 16px 0 16px;
  background-color: $LIGHT_BLURPLE;
  box-shadow: 0 2px 12px $DARK_BLURPLE;
  position: relative;
  overflow: visible;

  &:hover {
      box-shadow: 0 4px 16px $BLURPLE;
      transform: scale(1.02);
      transition: transform 0.2s, box-shadow 0.2s;
      z-index: 50;
  }
  &.active {
      border-radius: 8px 8px 0 0;
  }
  .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      color: $DARK_BLURPLE;
  }
  .card-title {
      font-size: 1.2em;
      margin: 0;
  }
  .card-user {
      font-size: 0.9em;
      color: #666;
  }
  .show-more-btn {
      background-color: $LIGHT_BLURPLE;
      color: $DARK;
      padding: 4px 8px 4px 8px;
      border-top: 1px solid $DARK_BLURPLE;
      border-left: 1px solid $DARK_BLURPLE;
      border-right: 1px solid $DARK_BLURPLE;
      border-bottom: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      width: fit-content;
      cursor: pointer;
      margin-top: 16px;
      font-size: 0.9em;
      transition: background-color 0.3s, color 0.3s;
      z-index: 2;
      display: flex;
      align-items: center;
      height: fit-content;
  }
  .card-details {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $LIGHT_BLURPLE;
      z-index: 900;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
      padding: 1em;  
      max-width: 800px; 
      width: max-content;
    .tabs {
      display: flex;
      gap: 10px;
      margin-bottom: 8px;
      
      .tab-button {
        background: none;
        border: none;
        padding: 8px;
        cursor: pointer;
        font-size: 14px;
        border-bottom: 2px solid transparent;
        
        &.active {
          font-weight: bold;
          border-color: $DARK_BLURPLE;
        }
      }
    }
    
    .tab-content {
      font-size: 14px;
      p {
        margin: 0;
        padding: 16px 8px 16px 8px;
      }
    }
  }
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      color: $BLURPLE;
      &:hover {
        text-decoration: underline;
        color: $DARK_BLURPLE;
      }
    }
  }
}
