@use '../../../../styles/colors' as *;
@use '../../../../styles/media'  as *;

.user-bots-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: $DARK;
  align-items: center;
}
