<div class="bab-container" id="login-container">
    <div class="login-container">
        <div class="card">
          <h2>Login</h2>
          <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="login-form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                required
                [(ngModel)]="email"
                #emailInput="ngModel"
              />
            </div>
            <div class="login-form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                required
                [(ngModel)]="password"
                #passwordInput="ngModel"
              />
            </div>
            <div class="discord-login">
              <p>Rather use discord?</p>
              <a
                type="button"
                class="discord-button"
                (click)="loginWithDiscord()"
              >
                <span>Login with Discord</span>
              </a>
            </div>
            <div class="not-signed-up">
              <p>Not signed up yet?</p>
              <a [routerLink]="['/signup']">Create an account</a>
            </div>
            <button class="login-button" type="submit" [disabled]="!userForm.form.valid">Login</button>
          </form>
        </div>
    </div>
</div>
  