@use '../../../../../styles/colors' as *;
@use '../../../../../styles/media'  as *;

.bot-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: $DARK;
  align-items: center;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.field select[multiple] {
  height: auto;
}

.field select[multiple] option:checked {
  background-color: $BLURPLE !important;
  color: #fff         !important;
}
